body{
	background-color:#85BC53;
	font-family: 'Trebuchet MS';
}
nav.navbar {
    background-color: rgba(47, 140, 46, 0.6);
	text-shadow: 1px 1px 2px black;
}
.shad{
	text-shadow: 1px 1px 2px black;
}
.active{
	background-color:#B0DC86;
}
.navbar {
	background-color:#ADC299;
	}
.navbar li a {
	color:#fff;
	height:100px;
	}
.navbar li a:hover {
	background-color:#B0DC86;
	
}			

